# Chapter 07

## Handgling dates and times

In [ ]:
import numpy as np
import pandas as pd

### 7.1 Converting strings to dates

In [ ]:
dates = np.array([
    '03-04-2005 11:35 PM',
    '23-05-2010 12:01 AM',
    '04-09-2009 09:09 PM'
])

[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p') for date in dates]

### 7.2 Handling time zones

In [ ]:
pd.Timestamp('2017-05-01 06:00:00', tz='Europe/London')

In [ ]:
date = pd.Timestamp('2017-05-01 06:00:00')
date_in_london = date.tz_localize('Europe/London')
date_in_london

In [ ]:
date_in_london.tz_convert('Africa/Abidjan')

In [ ]:
dates = pd.Series(pd.date_range('2/2/2002', periods=3, freq='M'))
dates.dt.tz_localize('Africa/Abidjan')

In [ ]:
pd.Series(pd.date_range('2/2/2002', periods=12, freq='M'))

In [ ]:
from pytz import all_timezones
pd.DataFrame(all_timezones, columns=['time zones'])

### 7.3 Selecting dates and times

In [ ]:
data = pd.DataFrame()
data['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')

In [ ]:
data[(data['date'] > '2002-1-1 01:00:00') & 
     (data['date'] <= '2002-1-1 04:00:00')]

In [ ]:
data = data.set_index(data['date'])
data.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

### 7.4 Breaking up date data into multiple features

In [ ]:
data = pd.DataFrame()
data['date'] = pd.date_range('1/1/2001', periods=150, freq='W')

data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data['hour'] = data['date'].dt.hour
data['minute'] = data['date'].dt.minute

data.head(5)

### 7.5 Calculating the difference between dates

In [ ]:
dataframe = pd.DataFrame()
dataframe['Arrived'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-04-2017')]
dataframe['Left'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-06-2017')]
dataframe

In [ ]:
dataframe['Left'] - dataframe['Arrived']

In [ ]:
pd.Series(delta.days for delta in (dataframe['Left'] - dataframe['Arrived']))

### 7.6 Encoding days of the week

In [ ]:
dates = pd.DataFrame(pd.date_range("2/2/2002", periods=3, freq="M"), columns=['date'])
dates

In [ ]:
dates['date'].dt.day_name()

In [ ]:
dates['date'].dt.weekday

### 7.7 Creating a lagged feature

In [ ]:
data = pd.DataFrame()
data['dates'] = pd.date_range('1-1-2001', periods=5, freq='D')
data['stock'] = np.random.normal(size=5)

In [ ]:
data['lag_1_stock'] = data['stock'].shift(1)
data

### 7.8 Using rolling time windows

In [ ]:
time_index = pd.date_range("01/01/2010", periods=5, freq="M")
dataframe = pd.DataFrame(index=time_index)
dataframe['stock'] = np.random.normal(size=5)
dataframe

In [ ]:
dataframe.rolling(window=2).mean()

### 7.9 Handling missing data in time series

In [ ]:
time_index = pd.date_range("01/01/2010", periods=5, freq="M")
dataframe = pd.DataFrame(index=time_index)
dataframe["Sales"] = [1.0,2.0,np.nan,np.nan,5.0]
dataframe

In [ ]:
dataframe.interpolate()

In [ ]:
dataframe.ffill()

In [ ]:
dataframe.bfill()

In [ ]:
dataframe.interpolate(method="quadratic")

In [ ]:
dataframe.interpolate(limit=1, limit_direction="forward")